<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %>, <%= book.published %></li>

  <% end %>
</ul>

<%= link_to "Alphabetize", alphabetize_path %>

<br>

<%= link_to "Year", year_path %>

<br>

<%= link_to "New Book", new_book_path %>
