<h1><%= @book.title %></h1>


<% if @book.reviews.any? %>
  <ul>
    <% @book.reviews.each do |review| %>
      <li>
        Username: <%= review.username %> |
        Text: <%= review.text %> |
        Rating: <%= review.rating %> |
        <%= link_to "Delete", book_review_path(@book, review),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Add a review", new_book_review_path(@book) %></p>

<p><%= link_to "Edit", edit_book_path(@book) %></p>
<p><%= link_to "Delete", book_path,
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to books", books_path %></p>
